* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#grid {
  display: grid;

  /* EXACT values Cypress checks */
  grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
  grid-template-rows: 124px 124px 124px 124px 124px;

  gap: 10px;
  padding: 10px;
  background: black;
}

#grid > div {
  background: green;
  color: white;
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
}

/* Exact grid placement using span */

/* 1 */
#grid > div:nth-child(1) {
  grid-column: span 4 / auto;
}

/* 2 */
#grid > div:nth-child(2) {
  grid-row: span 4 / auto;
}

/* 3 */
#grid > div:nth-child(3) {
  grid-column: span 1 / auto;
}

/* 4 */
#grid > div:nth-child(4) {
  grid-column: span 2 / auto;
}

/* 5 */
#grid > div:nth-child(5) {
  grid-column: span 2 / auto;
}

/* 6 */
#grid > div:nth-child(6) {
  grid-column: span 1 / auto;
}

/* 7 */
#grid > div:nth-child(7) {
  grid-column: span 1 / auto;
}

/* 8 */
#grid > div:nth-child(8) {
  grid-column: span 1 / auto;
}

/* 9 */
#grid > div:nth-child(9) {
  grid-column: span 1 / auto;
}

/* 10 */
#grid > div:nth-child(10) {
  grid-column: span 3 / auto;
}
